[
    %% SASL config
    {sasl, [
            {sasl_error_logger, {file, "log/sasl-error.log"}},
            {errlog_type, error},
            {error_logger_mf_dir, "log/sasl"},      % Log directory
            {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
            {error_logger_mf_maxfiles, 5}           % 5 files max
           ]},

    {mahjong, [
            {tcp_port, 17301},
            {server_id, 1},
            {server_type, 0},                               % 服务器类型：0开发服，1正式服
            {gm_cmd, 1},                                    % GM命令：1生效，0失效
            {online_limit, 5000},                           % 在线人数限制
            {platform_type, 0},                             % 平台类型：0-IOS，1-Android，2-WP
            {logfile_path, "../log"},
            {start_time, {{2017,04,25},{8,0,0}}},
            {cross_server_id, 1}
           ]},

    {mnesia, [
           {dir, "../dbfiles"},
           {dump_log_write_threshold, 100000},
           {auto_repair, true}
          ]}
].

